

/* Navigation Bar */
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 400;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-weight: 300;
    font-size: 1.2vw;
}

/* Title */
#title {
    background-color: #76BA99;
}
#mockup-img {
    max-height: 300px;
    max-width: 100%;
    /* transform: rotate(45deg); */

}


.container-fluid {
    padding: 1% 5%;
}

#padtext1 {
    padding-top: 3%;
}

body {
    font-family: "Montserrat";
    padding-left: 8px;
    overflow-x: hidden; 
    width: 100vw;
}


h1 {
    font-family: "Montserrat";
    font-size: 2.9rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}





/* Download Buttons */
.download-button {
    margin: 5% 4% 5% 0px;
}

/* Features */
#features {
    margin: 50px auto;
    background-color: white;
}
.feature-icon {
    max-width: 100%;
    margin: auto 50%;
    color: #76BA99;
}
.feature-icon:hover {
    color: #36b97a;
}
.feature-title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.feature-text {
    text-align: center;
}

/* Testimonials */
h2 {
    font-family: 'Montserrat';
    font-weight: 600;

}

#testimonials {
    background-color: #33ce86;
    text-align: center;
    color: white
}
.carousel-item {
    padding: 3% 15%;
}
.testimonial-image {
    max-width: 100px;
    border-radius: 100%;
    margin: 3% auto 0;
}
h2 {
    font-weight: 600; 
    line-height: 1.5;
    font-size: 2rem;
    /* margin: 10% auto 75px;
    padding: 15% 0 0; */
}
h2-responsive {
    font-size: calc(100% + 1vw + 1vh);
}

#press {
    background-color: #33ce86;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    max-width: 150px;
    margin: 20px 20px 50px;
    
}
/* Pricing */
#pricing {
    text-align: center;
    padding: 100px;
}
.pricing-column {
    padding: 3% 2%;
}
.btn-info {
    background-color: #33ce86;
    color: white;
    border-color: #33ce86
}
.btn-info:hover {
    background-color: #76BA99;
    border-color: #76BA99;
    color: white;
}
#shitbutton {
    color: #76BA99;  
    border-color: #76BA99;
}
#shitbutton:hover {
    background-color: #76BA99;
    color: white;
    border-color: #76BA99;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    .feature-title {
        font-size: 1rem;
    }
    .feature-icon {
        margin: 3% 40% 7%;
    }
  }