/* Navigation Bar */
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 400;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-weight: 300;
    font-size: 1.2rem;
}

/* Title */
body {
    font-family: "Montserrat";
    text-align: center;
    overflow-x: hidden; 
    width: 100vw;
}
.big-heading {
    font-size: 2.9rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}
#title {
    text-align: left;
    background-color: #76BA99;
}
#mockup-img {
    max-height: 300px;
    max-width: 100%;
}
#padtext1 {
    padding-top: 3%;
}
.download-button {
    margin: 5% 4% 5% 0px;
}
.container-fluid {
    padding: 1% 5%;
}




/* Features */
#features {
    margin: 50px auto;
    background-color: white;
}
.feature-icon {
    max-width: 100%;
    margin: auto 50%;
    color: #76BA99;
}
.feature-icon:hover {
    color: #36b97a;
}
.feature-title {
    font-size: 1.4rem;
    font-weight: 600;
}
.feature-text {
    margin: auto 10%;
}

/* Testimonials */
#testimonials {
    background-color: #33ce86;
    color: white
}
.testimonial-text {
    font-weight: 600; 
    line-height: 1.5;
    font-size: 2rem;
}
.carousel-item {
    padding: 3% 15%;
}
.testimonial-image {
    max-width: 100px;
    border-radius: 100%;
    margin: 3% auto 0;
}
#press {
    background-color: #33ce86;
    /* text-align: center; */
    padding-bottom: 3%;
}
.press-logo {
    max-width: 150px;
    margin: 20px 20px 50px;
    
}

/* Pricing */
#pricing {
    padding: 5% 10%;
}
#pricing h3 {
    font-weight: 500;
    font-size: 1.5rem;
}
#free-sign-btn {
    color: #76BA99;  
    border-color: #76BA99;
}
#free-sign-btn:hover {
    background-color: #76BA99;
    color: white;
    border-color: #76BA99;
}
.pricing-header {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 3%;
}
.pricing-cost {
    font-weight: 500;
}
.pricing-column {
    padding: 3% 2%;
}
.btn-info {
    background-color: #33ce86;
    color: white;
    border-color: #33ce86
}
.btn-info:hover {
    background-color: #76BA99;
    border-color: #76BA99;
    color: white;
}

/* Footer */
#cta {
    background-color: #76BA99;
    color: white;
    padding: 5%;
}
#cta h3 {
    font-weight: 600;
    font-size: 2rem;
    margin: 2% 20%;
}
#cta #footer-buttons {
    margin: 2% 35%;
}
#footer {
    font-family: 'Montserrat', Times, serif  ;
    font-size: 10px;
    font-weight: 400;
    margin: auto 10%;
    padding: 3%;
}
#footer i {
    padding: 20px 10px;
}
/* Responsible for Phone */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    .feature-title {
        font-size: 1.4rem;
    }
    .feature-icon {
        margin: 3% 40% 7%;
    }
    #pricing {
        padding-right: 20%;
    }
    #cta #footer-buttons {
        margin: 2% 35%;
    }   }
@media screen and (max-width: 400px) {

    h1 {
        margin-left: 20px;
    }
    h2 {
        font-size: 1.2rem;
        
    }
    #features {
        margin-right: 20px;
    }
    #mockup-img {
        margin-left: 30px;
        padding-bottom: 20px;
    }
    #pricing {
        padding-right: 20%;
        margin-left: 10%;
        margin-right: auto;
    }
    .carousel-control-prev {
        left: 10px;
    }
    .carousel-control-next {
        left: 245px;
    }   
    .feature-title {
        margin-left: 20px;
    }
    .feature-text {
        margin-left: 50px;
        margin-right: 50px;
    }
    .navbar-brand {
        padding-right: 20px
    }
    .download-button {
        margin-left: 30px;
    }
}
    

