/* @media screen and (min-width: 1200px) {
html {
    margin-left: 20px;

}} */
/* Navigation Bar */
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 400;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-weight: 300;
    font-size: 1.2rem;
}

/* Title */
#title {
    background-color: #76BA99;
}
#mockup-img {
    max-height: 300px;
    max-width: 100%;
}

.container-fluid {
    padding: 1% 5%;
}

#padtext1 {
    padding-top: 3%;
}

body {
    font-family: "Montserrat";
    /* padding-left: 8px; */
    overflow-x: hidden; 
    width: 100vw;
    /* margin-left: 15px; */
}

h1 {
    font-family: "Montserrat";
    font-size: 2.9rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

/* Download Buttons */
.download-button {
    margin: 5% 4% 5% 0px;
}

/* Features */
#features {
    margin: 50px auto;
    background-color: white;
}
.feature-icon {
    max-width: 100%;
    margin: auto 50%;
    color: #76BA99;
}
.feature-icon:hover {
    color: #36b97a;
}
.feature-title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.feature-text {
    text-align: center;
}

/* Testimonials */
h2 {
    font-family: 'Montserrat';
    font-weight: 600;

}

#testimonials {
    background-color: #33ce86;
    text-align: center;
    color: white
}
.carousel-item {
    padding: 3% 15%;
}
.testimonial-image {
    max-width: 100px;
    border-radius: 100%;
    margin: 3% auto 0;
}
h2 {
    font-weight: 600; 
    line-height: 1.5;
    font-size: 2rem;
}
h2-responsive {
    font-size: calc(100% + 1vw + 1vh);
}

#press {
    background-color: #33ce86;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    max-width: 150px;
    margin: 20px 20px 50px;
    
}
/* Pricing */
#pricing {
    text-align: center;
    padding: 5% 10%;
}
.pricing-column {
    padding: 3% 2%;
}
.btn-info {
    background-color: #33ce86;
    color: white;
    border-color: #33ce86
}
.btn-info:hover {
    background-color: #76BA99;
    border-color: #76BA99;
    color: white;
}
#shitbutton {
    color: #76BA99;  
    border-color: #76BA99;
}
#shitbutton:hover {
    background-color: #76BA99;
    color: white;
    border-color: #76BA99;
}

/* Footer */

#cta {
    background-color: #76BA99;
    color: white;
    padding: 5%;
}
#cta h3 {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    margin: 2% 20%;
}
#cta #footer-buttons {
    margin: 2% 35%;
}

/* Responsible for Phone */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    .feature-title {
        font-size: 1.4rem;
    }
    .feature-icon {
        margin: 3% 40% 7%;
    }
    #pricing {
        padding-right: 20%;
    }
    #cta #footer-buttons {
        margin: 2% 35%;
    }   }
@media screen and (max-width: 400px) {

    h1 {
        margin-left: 10px;

    }
    .download-button {
        margin-left: 30px;
    }
    #mockup-img {
        margin-left: 30px;
        padding-bottom: 20px;
    }
    h2 {
        font-size: 1.2rem;
        
    }
    .feature-title {
        margin-left: 20px;
    }
    .feature-text {
        margin-left: 50px;
        margin-right: 50px;
    }
    #pricing {
        padding-right: 20%;
        margin-left: 10%;
        margin-right: auto;
    }
    #cta #footer-buttons {
        margin: 2% 20%;
        
    }
    .carousel-control-prev {
        left: 10px;
    }
    .carousel-control-next {
        left: 245px;
    }   }
    

    #features {
        margin-right: 20px;
    }
    .navbar-brand {
        padding-right: 20px
    }